<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pf-base.css">
    <link rel="stylesheet" href="./pf-flex.css">

    <title>Portfolio</title>
</head>
<body>
    <div class="pf-container">
    <div class="pf-sidebar-container">
        <div class="pf-sidebar">
            <h1>Hi there</h1>
            <p>My name is Jatin</p>
        </div>
    </div>
        <div class="pf-content">
            <p>Loream Lupsum havinf some dkhskdsdsdsn sbsj jdd sdj ddjsb
                kskdskdsmd smnsmdsnd,si hsjnm  
                sjagja 
                bjabajsnams 
            </p>
            <h1>Services</h1>
            <div class="pf-grid">
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Loream Lupsum havinf some dkhskdsdsdsn sbsj jdd sdj ddjsb</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Training</h1>
                    <p>Loream Lupsum havinf some dkhskdsdsdsn sbsj jdd sdj ddjsb</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Speaking</h1>
                    <p>Loream Lupsum havinf some dkhskdsdsdsn sbsj jdd sdj ddjsb</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Wrting</h1>
                    <p>Loream Lupsum havinf some dkhskdsdsdsn sbsj jdd sdj ddjsb</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Paimntng</h1>
                    <p>Loream Lupsum havinf some dkhskdsdsdsn sbsj jdd sdj ddjsb</p>
                    <a href="#">Learn More</a>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>